# Ignore everything
*

# But not these files...
!moveOutputFile.py
!ocrNconvert.py
!README.md
!recordLastMonthStats.py
!req.txt
!simpleGithubInstructions.txt
!start.py
!variousRegexChecks.py
# etc...

# ...even if they are in subdirectories
!*/

# if the files to be tracked are in subdirectories
!*/a/b/file1.txt
!*/a/b/c/*

